.container
  .row
    = render "profile", profile: @user.profile, user: @user
    .plan-index-area.col-lg-9.col-sm-8
      .plan-index-group
        = render "profile_menu", user: @user
        .plan-list
          = render "plan_list", plans: @plans
