version: "3.7"

volumes:
  bundle-volume:
  mysql-volume:
  redis-volume:

services:
  mysql:
    build:
      context: ./containers/db
    ports:
      - "7706:3306"
    volumes:
      - mysql-volume:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"

  redis:
    image: redis:alpine
    ports:
      - "7779:6379"
    volumes:
      - redis-volume:/data

  web:
    build: .
    volumes:
      - .:/usr/src/app:cached
      - bundle-volume:/usr/src/app/vendor/bundle
    environment:
      GOOGLE_MAPS_API: AIzaSyDBlYdxJipM-Gablze4G84BoPagcYp4k-8
      RDS_HOSTNAME: mysql
      RDS_USERNAME: root
      REDIS_HOSTNAME: redis
      REDIS_PORT: 6379
      MANUAL: $MANUAL
    ports:
      - "7700:3000"
    command: bin/start_dev_server.sh
    depends_on:
      - mysql
      - redis
