.container
  %h2= t(".title")
  = render "form", url: users_plan_path(@plan)
.order-modal
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header スポットの並び替え
        .modal-body
        .modal-footer
          = button_tag "キャンセル",  type: :button, class: "btn btn-danger", data: { dismiss: "modal" }
          = button_tag "変更を保存", type: :button, class: "btn btn-success"
.error-modal
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header アップロードエラー
        .modal-body.text-danger
          .error-header
          %ul.error-body
