version: 2.1
orbs:
  aws-cli: circleci/aws-cli@0.1.19
jobs:
  build:
    docker:
      - image: toyokappa/tabimemo-deployer-docker
    working_directory: ~/tabimemo
    branches:
      only:
        - master
        - feature/deploy
    steps:
      - checkout
      - aws-cli/setup:
          profile-name: tabimemo
      - setup_remote_docker
      - restore_cache:
          name: Restoring docker cache
          keys:
            - 001-cache-docker-image-{{ .Branch }}-{{ checksum "containers/ecs/rails/Dockerfile" }}
            - 001-cache-docker-image-{{ .Branch }}-
      - restore_cache:
          name: Restoring bundle cache
          keys:
            - 001-cache-bundle-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - 001-cache-bundle-{{ .Branch }}-
      - run:
          name: compute assets digest
          command: |
            git log -1 --format="%h" app/assets > assets-digest
      - restore_cache:
          name: Restoring assets cache
          keys:
            - v3-cache-assets-{{ .Branch }}-{{ checksum "assets-digest" }}
            - v3-cache-assets-{{ .Branch }}-
      - run:
          name: build docker
          command: |
            ./containers/ecs/bin/build_docker.sh $CIRCLE_SHA1 production
      - save_cache:
          name: Saving Docker Image cache
          key: 001-cache-docker-image-{{ .Branch }}-{{ checksum "containers/ecs/rails/Dockerfile" }}
          paths:
            - "~/caches/docker"
      - save_cache:
          name: Saving bundle cache
          key: 001-cache-bundle-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - "~/caches/bundle"
      - save_cache:
          name: Saving assets cache
          key: v3-cache-assets-{{ .Branch }}-{{ checksum "assets-digest" }}
          paths:
            - "public/assets"
      - run:
          name: deploy
          command: |
            ./containers/ecs/bin/deploy.sh $CIRCLE_SHA1 production
