{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Access-to-specific-bucket-only",
      "Principal": "*",
      "Action": [
        "s3:GetObject",
        "s3:PutObject"
      ],
      "Effect": "Allow",
      "Resource": [
        "arn:aws:s3:::${app_name}-${env}-assets/*",
        "arn:aws:s3:::${app_name}-${env}-uploads/*",
        "arn:aws:s3:::prod-ap-northeast-1-starport-layer-bucket/*"
      ]
    }
  ]
}
