default: &default
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_unicode_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("RAILS_DB_HOST") { "localhost" } %>
  username: <%= ENV.fetch("RAILS_DB_USER") { "root" } %>
  password: <%= ENV.fetch("RAILS_DB_PASS") { "" } %>

development:
  <<: *default
  database: tabimemo_development

test:
  <<: *default
  database: tabimemo_test

production:
  <<: *default
  database: tabimemo_production
  host: <%= ENV["RDS_HOSTNAME"] %>
  username: <%= ENV["RDS_USERNAME"] %>
  password: <%= ENV["RDS_PASSWORD"] %>
  socket: /var/lib/mysql/mysql.sock
