default: &default
  adapter: <%= ENV['ASSET_SYNC'] ? 'nulldb' : 'mysql2' %>
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_unicode_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("RDS_HOSTNAME") { "localhost" } %>
  username: <%= ENV.fetch("RDS_USERNAME") { "root" } %>
  password: <%= ENV.fetch("RDS_PASSWORD") { "" } %>

development:
  <<: *default
  database: tabimemo_development

test:
  <<: *default
  database: tabimemo_test

production:
  <<: *default
  database: tabimemo_production
  socket: /var/lib/mysql/mysql.sock
