service: tabimemo-lambdas

provider:
  name: aws
  runtime: ruby2.5
  region: ap-northeast-1
  profile: tabimemo
  stage: ${opt:stage, 'development'}

custom:
  environments: ${file(./config/environments.yml)}

functions:
  savePaveViews:
    handler: functions/save_page_views.exec
    events:
      - schedule: cron(0 15 * * ? *)
    environment: ${self:custom.environments.${self:provider.stage}}
