/*    index    */

.plan-index-area {
  .plan-item {
    margin-bottom: 20px;
    .plan-image {
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    .plan-name {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 6px;
    }
    .plan-description {
      font-size: 14px;
    }
  }
}

/*    edit    */

.spot_container {
  .photo_field {
    .photo_image, .preview {
      margin-bottom: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
