/*    index    */

.page-top {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  display: table;
  margin-bottom: 20px;
  .page-top-contents{
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.2);
    .page-top-title {
      color: white;
    }
    .page-top-sub {
      color: white;
      margin-bottom: 20px;
    }
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      z-index: -1;
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.plan-index-area {
  .plan-index-group {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      color: #484848;
      font-size: 28px;
      margin-bottom: 10px;
    }
    .plan-item {
      margin-bottom: 20px;
      a {
        color: #484848;
        &:hover {
          text-decoration: none;
        }
        .plan-image {
          img {
            width: 100%;
            border-radius: 5px;
          }
        }
      }
      .plan-name {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 6px;
      }
      .plan-description {
        font-size: 14px;
        margin-bottom: 6px;
      }
      .plan-reactions {
        font-size: 16px;
        .plan-pageviews {
          display: inline-block;
          color: #4dadf7;
          margin-right: 10px;
        }
        .plan-like {
          display: inline-block;
          color: crimson;
          margin-right: 10px;
        }
        .plan-comment {
          display: inline-block;
          color: #5cb85c;
        }
      }
    }
  }
}

/*    new    */

.step-field {
  margin-top: 30px;
  text-align: center;
  .step-item {
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    padding: 5px 10px 0;
    border: 1px solid #5cb85c;
    margin-right: 20px;
    &:last-child {
      margin: 0;
    }
    &.active {
      background-color: #5cb85c;
      color: white;
      .step-body {
        border-color: white;
      }
    }
    .step-header {
      font-size: 28px;
      font-weight: bold;
      .step-number {
        font-size: 40px;
      }
    }
    .step-body {
      font-size: 18px;
      padding-bottom: 5px;
      border-bottom: 1px solid #484848;
      margin-bottom: 8px;
    }
    .step-footer {
      font-size: 12px;
    }
  }
  .step-vector {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: 15px solid transparent;
    border-left: 15px solid gray;
  }
}

/*    edit    */

.spot-container {
  .spot-form {
    .spot-position-num {
      color: white;
      background-color: #5cb85c;
      font-size: 24px;
      text-align: center;
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 50%;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
  .photo-field {
    .photo-area {
      position: relative;
      margin-bottom: 20px;
      .preview-photo {
        width: 100%;
        height: auto;
      }
      .destroy-photo-btn {
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
      }
    }
    .photo-loading {
      display: none;
      margin-bottom: 20px;
      .loading-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #b9b9b9;
        .loading-icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 50px;
          height: 50px;
        }
      }
    }
    .photo-input {
      margin-bottom: 20px;
      .add-photos {
        width: 100%;
        height: auto;
        cursor: pointer;
      }
    }
  }
}

.ui-menu {
  li {
    display: block;
    border-bottom: solid 1px lightgray;
    &:last-child {
      border: none;
    }
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
      .place-title {
        padding: 5px;
        font-weight: bold;
      }
      .place-description {
        padding: 0 5px 5px;
        font-size: 11px;
      }
    }
  }
}

.map {
  height: 500px;
  margin-bottom: 20px;
}
.preview-maps {
  height: 300px;
  margin-bottom: 20px;
}

.sortable-modal {
  .modal-header {
    color: white;
    background-color: #5cb85c;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .modal-body {
    .sortable-item {
      background-color: white;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin: 5px 0;
      .sortable-position {
        display: inline-block;
        color: white;
        background-color: #5cb85c;
        font-size: 18px;
        text-align: center;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .sortable-name {
        display: inline-block;
      }
    }
  }
}

.error-modal {
  .modal-header {
    color: white;
    background-color: #dc3545;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .modal-body {
    .error-header {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .error-body {
      padding: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }
}

/*    show    */

.plan-top {
  position: relative;
  overflow: hidden;
  height: 500px;
  .plan-top-image {
    position: absolute;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    filter: blur(5px);
  }
  .no-plan-top-image {
    height: 500px;
    background-image: image-url("no_plan_top_image.jpg");
    background-position: center center;
    background-size: cover;
  }
}

.plan-field {
  padding-bottom: 30px;
  border-bottom: solid 1px lightgray;
  margin-bottom: 30px;
  .plan-header {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    .plan-name {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .plan-description {
      margin-bottom: 10px;
    }
    .reaction-field {
      float: left;
      font-size: 20px;
      line-height: 34px;
      .pageviews {
        display: inline-block;
        color: #4dadf7;
        margin-right: 15px;
      }
      .like-area {
        display: inline-block;
        margin-right: 15px;
        .unlike a {
          color: crimson;
          text-decoration: none;
        }
        .like a {
          color: gray;
          text-decoration: none;
        }
      }
      .comment {
        display: inline-block;
        a {
          color: #5cb85c;
          text-decoration: none;
        }
      }
    }
    .plan-menu {
      float: right;
    }
  }
  .spot-field {
    .spot-item {
      padding: 30px 40px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-bottom: 20px;
      .spot-header{
        margin-top: 0;
        .spot-position-num {
          color: white;
          background-color: #5cb85c;
          font-size: 24px;
          text-align: center;
          width: 36px;
          height: 36px;
          display: inline-block;
          line-height: 36px;
          border-radius: 50%;
        }
        .spot-name {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.author-field {
  .author {
    text-decoration: none;
    .author-image {
      display: inline-block;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 5px;
      }
    }
    .author-name {
      display: inline-block;
    }
  }
}

.comment-field {
  &:before {
    content: "";
    margin-top: -110px;
    height: 110px;
    display: block;
    visibility: hidden;
  }
  .comment-item {
    margin-bottom: 20px;
    .comment-header {
      .comment-user {
        float: left;
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        .comment-user-image {
          display: inline-block;
          img {
            width: 50px;
            height: auto;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
        .comment-user-name {
          display: inline-block;
        }
      }
      .comment-at {
        float: right;
        color: gray;
        line-height: 20px;
        position: relative;
        top: 30px;
      }
    }
    .comment-content {
      clear: both;
      position: relative;
      color: gray;
      border: solid 1px gray;
      border-radius: 3px;
      padding: 20px;
      margin-bottom: 5px;
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 12px;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        border-bottom: solid 10px gray;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        top: -8px;
        left: 12px;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        border-bottom: solid 10px white;
        z-index: 2;
      }
    }
    .comment-delete {
      text-align: right;
    }
  }
}

/*    management    */

.plan-status-menu {
  padding: 0;
  border-bottom: 1px solid lightgray;
  margin: 20px 0;
  li {
    display: inline-block;
    a {
      display: block;
      color: gray;
      font-weight: bold;
      padding: 8px 10px;
      text-decoration: none;
      &:hover {
        color: #5cb85c;
      }
      &.active {
        color: #5cb85c;
        border-bottom: 3px solid #5cb85c;
      }
    }
  }
}

.plan-item {
  td {
    padding: 15px 8px !important;
  }
  .plan-title {
    .plan-name {
      display: inline-block;
      font-size: 18px;
      vertical-align: middle;
      margin: 0 3px 5px 0;
    }
    .plan-status {
      display: inline-block;
      vertical-align: middle;
      font-size: 11px;
      color: white;
      padding: 3px 7px;
      border-radius: 3px;
      margin-bottom: 5px;
      &.published {
        background-color: #5cb85c;
      }
      &.draft {
        background-color: gray;
      }
    }
  }
  .plan-spot-count, .plan-likes, .plan-comments, .plan-created-at {
    vertical-align: middle;
  }
}
