/*    index    */

.page-top {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("top_bg_1.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: table;
  margin-bottom: 20px;
  .page-top-contents{
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.2);
    .page-top-title {
      color: white;
    }
    .page-top-sub {
      color: white;
      margin-bottom: 20px;
    }
  }
}

.plan-index-area {
  h2 {
    color: #444444;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .plan-item {
    margin-bottom: 20px;
    a {
      color: #444444;
      &:hover {
        text-decoration: none;
      }
      .plan-image {
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .plan-name {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 6px;
    }
    .plan-description {
      font-size: 14px;
    }
    .plan-reactions {
      font-size: 16px;
      .plan-like {
        display: inline-block;
        color: crimson;
        margin-right: 10px;
      }
      .plan-comment {
        display: inline-block;
        color: #5cb85c;
      }
    }
  }
}

/*    edit    */

.spot-container {
  .spot-form {
    .spot-position-num {
      color: white;
      background-color: #5cb85c;
      font-size: 24px;
      text-align: center;
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 50%;
      margin-top: -10px;
      margin-bottom: 10px;
    }
  }
  .photo-field {
    .photo-area {
      position: relative;
      margin-bottom: 20px;
      .preview-photo {
        width: 100%;
        height: auto;
      }
      .destroy-photo-btn {
        position: absolute;
        top: 5px;
        right: 20px;
      }
    }
    .photo-loading {
      display: none;
      margin-bottom: 20px;
      .loading-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #b9b9b9;
        .loading-icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 50px;
          height: 50px;
        }
      }
    }
    .photo-input {
      margin-bottom: 20px;
      .add-photos {
        width: 100%;
        height: auto;
      }
    }
  }
}

.ui-menu {
  li {
    display: block;
    border-bottom: solid 1px lightgray;
    &:last-child {
      border: none;
    }
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
      .place-title {
        padding: 5px;
        font-weight: bold;
      }
      .place-description {
        padding: 0 5px 5px;
        font-size: 11px;
      }
    }
  }
}

.map {
  height: 500px;
  margin-bottom: 20px;
}
.preview-maps {
  height: 300px;
  margin-bottom: 20px;
}

.sortable-modal {
  .modal-header {
    color: white;
    background-color: #5cb85c;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .modal-body {
    .sortable-item {
      background-color: white;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin: 5px 0;
      .sortable-position {
        display: inline-block;
        color: white;
        background-color: #5cb85c;
        font-size: 18px;
        text-align: center;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .sortable-name {
        display: inline-block;
      }
    }
  }
}

.error-modal {
  .modal-header {
    color: white;
    background-color: #dc3545;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .modal-body {
    .error-header {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .error-body {
      padding: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }
}

/*    show    */

.plan-field {
  padding-bottom: 30px;
  border-bottom: solid 1px lightgray;
  margin-bottom: 30px;
  .unlike {
    font-size: 18px;
    a {
      color: crimson;
      &:hover {
        color: crimson;
        text-decoration: none;
      }
      &:active {
        color: crimson;
        text-decoration: none;
      }
    }
  }
  .like {
    font-size: 18px;
    a {
      color: gray;
      &:hover {
        color: gray;
        text-decoration: none;
      }
      &:active {
        color: gray;
        text-decoration: none;
      }
    }
  }
  .spot-position-num {
    color: white;
    background-color: #5cb85c;
    font-size: 24px;
    text-align: center;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
  }
  .spot-name {
    display: inline-block;
    vertical-align: middle;
  }
}

.comment-item {
  margin-bottom: 20px;
  .comment-user {
    float: left;
    display: block;
    margin-bottom: 10px;
    img {
      width: 50px;
      height: auto;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
  .comment-at {
    float: right;
    color: gray;
    line-height: 20px;
    position: relative;
    top: 30px;
  }
  .comment-content {
    clear: both;
    position: relative;
    color: gray;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 5px;
    &:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 12px;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 10px gray;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      top: -8px;
      left: 12px;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 10px white;
      z-index: 2;
    }
  }
  .comment-delete {
    text-align: right;
  }
}
