@import "mixin";

/*    index    */

.page-top {
  position: relative;
  width: 100%;
  text-align: center;
  display: table;
  @include pc() {
    height: 600px;
    height: calc(100vh - 80px);
    margin-bottom: 20px;
  }
  @include sp() {
    height: 240px;
    height: calc(100vw * 0.6)
  }
  .page-top-contents{
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.2);
    .page-top-title {
      color: white;
      @include font-size(36px, 20px);
    }
    .page-top-sub {
      color: white;
      @include font-size(18px, 14px);
      margin-bottom: 20px;
    }
    .slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      z-index: -1;
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.plan-index-area {
  .plan-index-group {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      color: #484848;
      margin-bottom: 10px;
      @include font-size(28px, 24px);
    }
    .plan-group {
      font-size: 0px;
      margin-right: -7px;
      margin-left: -7px;
      .plan-item {
        display: inline-block;
        vertical-align: top;
        padding: 7px;
        margin-bottom: 20px;
        @include lg() {
          width: 25% !important;
        }
        @include pc() {
          width: 33.3%;
        }
        @include sp {
          width: 50%;
        }
        &.sm-item {
          @include lg() {
            width: 33.3% !important;
          }
          @include pc() {
            width: 50%;
          }
        }
        a {
          color: #484848;
          &:hover {
            text-decoration: none;
          }
          .plan-image {
            img {
              width: 100%;
              border-radius: 3px;
            }
          }
        }
      }
      .plan-name {
        @include font-size(18px, 15px);
        font-weight: bold;
        margin: 10px 0 6px;
      }
      .plan-description {
        @include font-size(14px, 13px);
        margin-bottom: 6px;
      }
      .plan-reactions {
        font-size: 16px;
        .plan-pageviews {
          display: inline-block;
          color: #4dadf7;
          margin-right: 10px;
        }
        .plan-like {
          display: inline-block;
          color: crimson;
          margin-right: 10px;
        }
        .plan-comment {
          display: inline-block;
          color: #5cb85c;
        }
      }
    }
  }
}

/*    new    */

.step-field {
  margin-top: 30px;
  text-align: center;
  .step-item {
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    padding: 5px 10px 0;
    border: 1px solid #5cb85c;
    margin-right: 20px;
    &:last-child {
      margin: 0;
    }
    &.active {
      background-color: #5cb85c;
      color: white;
      .step-body {
        border-color: white;
      }
    }
    .step-header {
      font-size: 28px;
      font-weight: bold;
      .step-number {
        font-size: 40px;
      }
    }
    .step-body {
      font-size: 18px;
      padding-bottom: 5px;
      border-bottom: 1px solid #484848;
      margin-bottom: 8px;
    }
    .step-footer {
      font-size: 12px;
    }
  }
  .step-vector {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: 15px solid transparent;
    border-left: 15px solid gray;
  }
}

/*    edit    */

.spot-container {
  h3 {
    font-weight: bold;
  }
  .spot-form {
    .spot-position-num {
      display: inline-block;
      color: white;
      background-color: #5cb85c;
      font-size: 24px;
      text-align: center;
      vertical-align: middle;
      width: 36px;
      height: 36px;
      line-height: 36px;
      border-radius: 50%;
    }
    .spot-name {
      display: inline-block;
      font-size: 18px;
      vertical-align: middle;
      height: 38px;
      width: calc(100% - 45px);
      margin-left:5px;
    }
    .destroy-spot-btn {
      float: right;
    }
  }
  .photo-field {
    .photo-item {
      position: relative;
      margin-bottom: 20px;
      .preview-photo {
        width: 100%;
        height: auto;
      }
      .destroy-photo-btn {
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
      }
      .set-header-btn {
        position: absolute;
        bottom: 7px;
        right: 22px;
      }
      .header-image {
        border: 4px solid #5cb85c;
      }
    }
    .photo-loading {
      display: none;
      margin-bottom: 20px;
      .loading-wrap {
        position: relative;
        width: 100%;
        background-color: #b9b9b9;
        @include pc() {
          height: 100%;
        }
        @include sp() {
          height: 200px;
        }
        .loading-icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 50px;
          height: 50px;
        }
      }
    }
    .photo-input {
      margin-bottom: 20px;
      .add-photos {
        width: 100%;
        height: auto;
        cursor: pointer;
      }
    }
  }
  .create-spot-btn {
    width: 100%;
    margin-bottom: 30px;
  }
}

.sidebar {
  .menu-box {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 30px;
    .menu-box-header {
      color: white;
      background-color: #5cb85c;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }
    .menu-box-body {
      font-size: 13px;
      padding: 15px;
    }
    .menu-box-footer {
      text-align: center;
      padding: 10px 15px;
      border-top: 1px solid lightgray;
      .btn {
        width: 100%;
      }
      .published-btn, .draft-btn {
        display: inline-block;
        width: calc(100% - 40px);
        border-radius: 3px 0 0 3px;
      }
      .toggle-status {
        display: inline-block;
        width: 40px;
        margin-left: -4px;
        border-left: 1px solid white;
        .toggle-status-btn {
          border-radius: 0 3px 3px 0;
          font-size: 20px;
          padding: 2px 0;
        }
        .toggle-menu {
          left: -120px;
        }
      }
    }
  }
}

.ui-menu {
  li {
    display: block;
    border-bottom: solid 1px lightgray;
    &:last-child {
      border: none;
    }
    a {
      display: block;
      &:hover {
        text-decoration: none;
      }
      .place-title {
        padding: 5px;
        font-weight: bold;
      }
      .place-description {
        padding: 0 5px 5px;
        font-size: 11px;
      }
    }
  }
}

.map {
  margin-bottom: 20px;
  @include pc() {
    height: 500px;
  }
  @include sp() {
    height: 240px;
  }
}
.preview-maps {
  height: 300px;
  margin-bottom: 20px;
}

.sortable-modal {
  .modal-header {
    color: white;
    background-color: #5cb85c;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .modal-body {
    .sortable-item {
      background-color: white;
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin: 5px 0;
      .sortable-position {
        display: inline-block;
        color: white;
        background-color: #5cb85c;
        font-size: 18px;
        text-align: center;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .sortable-name {
        display: inline-block;
      }
    }
  }
}

.error-modal {
  .modal-header {
    color: white;
    background-color: #dc3545;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .modal-body {
    .error-header {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .error-body {
      padding: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }
}

/*    show    */

.plan-top {
  .plan-top-image {
    background-position: center center;
    background-size: cover;
    @include pc() {
      height: 500px;
    }
    @include sp() {
      height: 200px;
    }
  }
  .no-plan-top-image {
    background-image: image-url("no_plan_top_image.jpg");
    background-position: center center;
    background-size: cover;
    @include pc() {
      height: 500px;
    }
    @include sp() {
      height: 200px;
    }
  }
}

.plan-field {
  padding-bottom: 30px;
  border-bottom: solid 1px lightgray;
  margin-bottom: 30px;
  .plan-header {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    .plan-name {
      @include font-size(30px, 26px);
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .plan-description {
      margin-bottom: 10px;
    }
    .reaction-field {
      float: left;
      font-size: 20px;
      line-height: 34px;
      .pageviews {
        display: inline-block;
        color: #4dadf7;
        margin-right: 15px;
      }
      .like-area {
        display: inline-block;
        margin-right: 15px;
        a {
          color: crimson;
          text-decoration: none;
        }
      }
      .comment {
        display: inline-block;
        a {
          color: #5cb85c;
          text-decoration: none;
        }
      }
    }
    .plan-menu {
      float: right;
    }
  }
  .spot-field {
    .spot-item {
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-bottom: 20px;
      @include pc() {
        padding: 30px 40px;
      }
      @include sp() {
        padding: 15px 20px;
      }
      .spot-header{
        margin-top: 0;
        .spot-position-num {
          color: white;
          background-color: #5cb85c;
          text-align: center;
          display: inline-block;
          border-radius: 50%;
          @include font-size(24px, 16px);
          @include pc() {
            width: 36px;
            height: 36px;
            line-height: 36px;
          }
          @include sp() {
            width: 24px;
            height: 24px;
            line-height: 24px;
          }
        }
        .spot-name {
          display: inline;
          vertical-align: middle;
        }
      }
      .image-area {
        margin-bottom: 20px;
      }
    }
  }
}

.under-reaction-field {
  font-size: 20px;
  line-height: 34px;
  .plan-reaction {
    margin-bottom: 5px;
    .pageviews {
      display: inline-block;
      color: #4dadf7;
      margin-right: 15px;
    }
    .like-area {
      display: inline-block;
      margin-right: 15px;
      a {
        color: crimson;
        text-decoration: none;
      }
    }
    .comment {
      display: inline-block;
      a {
        color: #5cb85c;
        text-decoration: none;
      }
    }
  }
  .sns-reaction {
    .sns-share-btn {
      display: inline-block;
    }
  }
}

.author-field {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid lightgray;
  padding-top: 30px;
  .author-info-left {
    margin-right: 15px;
    .author-image {
      display: inline-block;
      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }
  }
  .author-info-right {
    a {
      display: block;
      color: inherit;
      margin-bottom: 7px;
      .author-name {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.comment-field {
  .comment-item {
    margin-bottom: 20px;
    .comment-header {
      .comment-user {
        float: left;
        display: block;
        text-decoration: none;
        margin-bottom: 10px;
        .comment-user-image {
          display: inline-block;
          img {
            width: 50px;
            height: auto;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
        .comment-user-name {
          display: inline-block;
        }
      }
      .comment-at {
        float: right;
        color: gray;
        line-height: 20px;
        position: relative;
        top: 30px;
      }
    }
    .comment-content {
      clear: both;
      position: relative;
      color: gray;
      border: solid 1px gray;
      border-radius: 3px;
      padding: 20px;
      margin-bottom: 5px;
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 12px;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        border-bottom: solid 10px gray;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        top: -8px;
        left: 12px;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
        border-bottom: solid 10px white;
        z-index: 2;
      }
    }
    .comment-delete {
      text-align: right;
    }
  }
}

@media screen and (max-width: 991px) {
  .table-contents {
    display: none;
  }
}
.table-contents {
  margin-top: 30px;
  padding: 0;
  border: 1px solid lightgray;
  border-radius: 6px;
  .table-contents-header {
    color: white;
    background-color: #5cb85c;
    font-size: 18px;
    padding: 10px 15px;
    border-bottom: 1px solid lightgray;
    border-radius: 5px 5px 0 0;
  }
  .table-contents-item {
    display: block;
    color: inherit;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    &:last-child {
      border-bottom: none;
    border-radius: 0 0 5px 5px;
    }
    &:hover {
      background-color: #fff6da;
    }
    &.active {
      background-color: #fff6da;
    }
    .table-contents-position {
      display: inline-block;
      color: white;
      background-color: #5cb85c;
      font-size: 16px;
      text-align: center;
      width: 24px;
      height: 24px;
      line-height: 24px;
      vertical-align: middle;
      margin-right: 5px;
      border-radius: 50%;
    }
    .table-contents-icon {
      display: inline-block;
      color: #5cb85c;
      font-size: 24px;
      line-height: 24px;
      margin-right: 5px;
      vertical-align: middle;
    }
    .table-contents-name {
      display: inline;
      font-size: 16px;
      vertical-align: middle;
    }
  }
}

/*    management    */

.plan-status-menu {
  padding: 0;
  border-bottom: 1px solid lightgray;
  margin: 20px 0;
  li {
    display: inline-block;
    a {
      display: block;
      color: gray;
      font-weight: bold;
      padding: 8px 10px;
      text-decoration: none;
      &:hover {
        color: #5cb85c;
      }
      &.active {
        color: #5cb85c;
        border-bottom: 3px solid #5cb85c;
      }
    }
  }
}

.plan-item {
  td {
    padding: 15px 8px !important;
  }
  .plan-title {
    width: 50%;
    .plan-name {
      display: inline-block;
      font-size: 18px;
      vertical-align: middle;
      margin: 0 3px 5px 0;
    }
    .plan-status {
      display: inline-block;
      vertical-align: middle;
      font-size: 11px;
      color: white;
      padding: 3px 7px;
      border-radius: 3px;
      margin-bottom: 5px;
      &.published {
        background-color: #5cb85c;
      }
      &.draft {
        background-color: gray;
      }
    }
  }
  .h-plan-spot-count, .h-plan-pvs, .h-plan-likes, .h-plan-comments, .h-plan-created-at {
    text-align: center;
  }
  .plan-spot-count, .plan-pvs, .plan-likes, .plan-comments, .plan-created-at, .plan-menu {
    text-align: center;
    vertical-align: middle;
  }
}
