@import "mixin";

/*    show    */
.profile-area {
  margin-top: 20px;
  .profile-image {
    margin-bottom: 15px;
    @include sp() {
      text-align: center;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  .profile-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px;
    @include sp() {
      text-align: center;
    }
  }
  .profile-description {
    margin-bottom: 15px;
  }
  .profile-item {
    margin-bottom: 15px;
    i {
      width: 18px;
    }
  }
}

/*    edit    */
.registration-step {
  margin-bottom: 30px;
}
.image-field {
  .profile_image {
    img {
      height: 200px;
      width: auto;
    }
  }
}
.profile-birthday {
  @include sp() {
    display: inline-block !important;
    width: 32% !important;
  }
}
