/*    show    */
.profile-area {
  margin-top: 20px;
  .profile-image {
    margin-bottom: 15px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  .profile-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px;
  }
  .profile-description {
    margin-bottom: 15px;
  }
  .profile-item {
    margin-bottom: 15px;
    i {
      width: 18px;
    }
  }
}

/*    new    */
.image-field {
  .profile_image {
    img {
      height: 200px;
      width: auto;
    }
  }
}
