@import "mixin";

/*    show    */
.profile-area {
  margin-top: 20px;
  .profile-image {
    margin-bottom: 15px;
    @include sp() {
      text-align: center;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
  .profile-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px;
    @include sp() {
      text-align: center;
    }
  }
  .profile-description {
    margin-bottom: 15px;
  }
  .profile-item {
    margin-bottom: 15px;
    i {
      width: 18px;
    }
  }
  .profile-level-area {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .profile-level {
      font-weight: bold;
      .level-title {
        font-size: 18px;
      }
      .level-value {
        font-size: 28px;
      }
    }
    .profile-exp {
      font-weight: bold;
    }
  }
  .profile-exp-rate {
    width: 100%;
    background-color: #e6e6e6;
    margin-bottom: 15px;
    .bar-chart {
      display: block;
      background-color: #5cb85c;
      height: 16px;
    }
  }
}

/*    followers    */
.follow-user-list {
  padding: 0;
  .follow-user {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    &:first-child {
      padding-top: 0px;
    }
    .item-left {
      margin-right: 10px;
      .follow-user-image {
        img {
          width: 80px;
          border-radius: 50%;
        }
      }
    }
    .item-right {
      width: 100%;
      .item-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .follow-user-name {
          a {
            color: inherit;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
      .item-sub {
      }
    }
  }
}

/*    edit    */
.registration-step {
  margin-bottom: 30px;
}
.image-field {
  .profile_image {
    img {
      height: 200px;
      width: auto;
    }
  }
}
.profile-birthday {
  @include sp() {
    display: inline-block !important;
    width: 32% !important;
  }
}
