/*    terms    */

.terms-field {
  h2 {
    padding-bottom: 25px;
  }
  h3 {
    padding-bottom: 10px;
  }
  .sentence {
    padding-bottom: 20px;
    ol {
      -webkit-padding-start: 2rem;
      li {
        margin-bottom: 10px;
      }
    }
    .sub-sentence {
      margin-top: 15px;
      .extra-sentence {
        font-size: 12px;
        margin-top: 15px;
        ol {
          list-style-type: lower-roman;
        }
      }
    }
  }
  .end-of-terms {
    text-align: right;
  }
}
