/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui/autocomplete
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "baguetteBox.min";
@import "mixin";

/*    alert   */

.flash-message-container {
  position: fixed;
  display: none;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
  text-align: center;
}

.alert-notice {
  @extend .alert-success;
  display: inline-block;
  width: auto;
  min-width: 400px;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

.alert-error, .alert-alert {
  @extend .alert-danger;
  display: inline-block;
  width: auto;
  min-width: 640px;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

/*    default   */

body {
  color: #484848;
  padding-top: 80px;
}

h2 {
  @include font-size(30px, 20px);
}

.navbar {
  margin-bottom: 0 !important;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.table-responsive {
  border: 0 !important;
}

.btn-lg {
  @include sp() {
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
  }
}

.clear {
  clear: both;
}

/*    header    */

.navbar {
  min-height: 80px;
  background-color: white;
  border-bottom: 1px solid #5cb85c;
  .navbar-brand {
    color: #5cb85c;
    font-size: 24px;
    font-weight: bold;
    padding: 28px 15px;
    .header-logo {
      display: inline-block;
      vertical-align: middle;
      .logo {
        height: 24px;
      }
    }
    .header-title {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .search-form {
    margin-bottom: 0;
    @include pc() {
      margin-top: 20px;
    }
    .keyword-input {
      font-size: 18px;
      color: #888888;
      height: inherit;
      border-radius: 3px;
      padding: 7px 10px 7px 46px;
      background: image-url("search.png") no-repeat 10px 8px;
      background-size: 24px;
      @include pc() {
        width: 400px;
      }
      @include sp() {
        width: calc(100% - 75px);
      }
    }
  }
  .nav > li > a {
    color: gray;
    padding: 30px 15px;
  }
}

.navbar-toggle {
  float: left;
  margin: 0;
  border: 0;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

.dropdown {
  .dropdown-image {
    padding: 26px 15px !important;
    img {
      width: 28px;
      height: 28px;
      border: solid 2px gray;
      border-radius: 50%;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    padding: 0;
    .dropdown-item {
      border-bottom: solid 1px lightgray;
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 15px 0 15px 15px;
      }
    }
  }
}

/*    wrapper    */

.wrapper {
  margin-bottom: 30px;
}

.contents-field {
  margin-top: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  .contents-header {
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
    h3 {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .contents-body {
    padding: 20px 30px;
    border-bottom: 1px solid lightgray;
    h4 {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
    }
    ul {
      list-style-type: disc;
      padding-left: 2rem;
      margin-bottom: 0;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .contents-footer {
    padding: 15px 30px;
    text-align: center;
    .btn {
      @include pc() {
        margin: 0 10px;
      }
      @include sp() {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}

.menu-bar{
  .menu-box{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 30px;
    .menu-box-header {
      color: white;
      background-color: #5cb85c;
      font-size: 16px;
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }
    .menu-box-body {
      ul {
        padding: 0;
        margin: 0;
        li {
          border-bottom: 1px solid lightgray;
          &:last-child {
            border-radius: 0 0 5px 5px;
            border-bottom: 0;
          }
          &:hover {
            background-color: #fff6da;
          }
          &.active {
            background-color: #fff6da;
          }
          a {
            display: block;
            color: inherit;
            text-decoration: none;
            padding: 10px;
          }
        }
      }
    }
  }
}

/*    footer    */

.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #484848;
  padding: 50px 0;
  @include sp() {
    font-size: 12px;
  }
  ul {
    padding-left: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    li {
      display: inline-block;
      @include pc() {
        margin: 0 20px;
      }
      @include sp() {
        margin: 0 10px;
      }
      a {
        color: white;
      }
    }
  }
  .opinion-form {
    margin-bottom: 20px;
  }
}

/*    form    */

form {
  .required-input {
    font-size: 12px;
    color: white;
    background-color: crimson;
    padding: 3px 5px;
    border-radius: 3px;
    margin-left: 3px;
  }
}

.register-form {
  margin-top: 30px;
  padding: 20px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  h3 {
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
  }
  .form-description {
    margin-bottom: 15px;
  }
}

.btn-100 {
  width: 100%;
}

/*    simple_format(h(object))対策    */
.plan-description, .spot-description, .comment-content {
  p {
    font-size: 16px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
