/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui/autocomplete
 *= require jquery-ui/sortable
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "baguetteBox.min";

/*    alert   */

.flash-message-container {
  position: fixed;
  display: none;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
  text-align: center;
}

.alert-notice {
  @extend .alert-success;
  display: inline-block;
  width: auto;
  min-width: 400px;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

.alert-error, .alert-alert {
  @extend .alert-danger;
  display: inline-block;
  width: auto;
  min-width: 640px;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

/*    default   */

body {
  color: #484848;
  padding-top: 80px;
}

.navbar {
  margin-bottom: 0 !important;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.clear {
  clear: both;
}

/*    header    */

.navbar {
  min-height: 80px;
  background-color: white;
  border-bottom: 1px solid #5cb85c;
  .navbar-brand {
    color: #5cb85c;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 15px;
  }
  .search-form {
    margin-top: 20px;
    margin-bottom: 0;
    .keyword-input {
      font-size: 18px;
      color: #888888;
      height: inherit;
      width: 400px;
      border-radius: 3px;
      padding: 7px 10px 7px 46px;
      background: image-url("search.png") no-repeat 10px 8px;
      background-size: 24px;
    }
  }
  .nav > li > a {
    color: gray;
    padding: 30px 15px;
  }
}

.dropdown {
  .dropdown-image {
    padding: 26px 15px !important;
    img {
      width: 28px;
      height: 28px;
      border: solid 2px gray;
      border-radius: 50%;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    padding: 0;
    .dropdown-item {
      border-bottom: solid 1px lightgray;
      &:last-child {
        border-bottom: none;
      }
      a {
        padding: 15px 0 15px 15px;
      }
    }
  }
}

/*    wrapper    */

.wrapper {
  margin-bottom: 30px;
}

/*    footer    */

.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #484848;
  padding: 50px 0;
  ul {
    padding-bottom: 25px;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    li {
      display: inline;
      margin: 0 20px;
      a {
        color: white;
      }
    }
  }
}

/*    form    */

form {
  .btn-success {
    margin-bottom: 20px;
  }
  .required-input {
    color: white;
    background-color: crimson;
    padding: 3px 5px;
    border-radius: 3px;
    margin-left: 3px;
  }
}

/*    simple_format(h(object))対策    */
.plan-description, .spot-description, .comment-content {
  p {
    font-size: 16px;
    margin-bottom: 0;
  }
}
