.grid-container {
  width: 600px;
  display: grid;
  grid-gap: 3px;
  .grid-item {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-position: center center;
  }
  &.grid-style-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 400px;
  }
  &.grid-style-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
  }
  &.grid-style-3 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 200px;
    .grid-item {
      &:first-child {
        grid-row: 1 / 3;
      }
    }
  }
  &.grid-style-4 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 100px;
    .grid-item {
      &:first-child {
        grid-column: 1 / 4;
      }
    }
  }
  &.grid-style-5 {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 130px 65px 65px 130px;
    .grid-item {
      &:first-child {
        grid-row: 1 / 3;
      }
      &:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
      }
      &:nth-child(4) {
        grid-row: 2 / 4;
      }
      &:nth-child(5) {
        .gray-back {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          .more-image {
            color: white;
            font-size: 30px;
          }
        }
      }
    }
  }
}
