= search_form_for @search, url: search_path, class: "navbar-form navbar-left search-form" do |f|
  .form-group
    = f.search_field :keyword_all, value: @keyword, class: "form-control keyword-input", placeholder: t("form.search_placeholder")
